*{
    box-sizing: border-box;
    color: white;
    margin: 0;
}
body{
    background-color: hsl(218, 28%, 13%);
    
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
  
}
nav{
    display: flex;
    /* text-align: right; */
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

li{
    list-style: none;
    /* padding: 20px;
    margin: 20px; */
    padding: 10px;

}
.logo{
    margin: 20px;
    width: 26%;
}
.intro-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.first-wrapper{
    text-align: center;
    margin:0 auto;
    margin: 16px;
}
.second-wrapper, .third-wrapper, .fourth-wrapper,.fifth-wrapper{
    margin: 32px;
}
p{
    font-family: 'Open Sans', sans-serif;
}
button{
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    width: 200px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}
button:hover{
    background-color: hsl(176, 68%, 64%);
}
.second-wrapper{
    margin-top: 100px;
    text-align: center;
}
.d1,.d2,.d3,.d4{
    margin-bottom: 100px;
}
.second-img{
    width: 100%;
    padding-top: 100px;
    margin-bottom: 40px;
}
.second-h3, .p5, .p6 {
padding-left: 20px;

}
.a{
    color:hsl(176, 68%, 64%);
    padding-left: 6px ;
    transition: 0.4s;
}
.a:hover{
    color: white;
}
a{
    color:hsl(176, 68%, 64%);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.third-wrapper{
    margin-bottom: 200px;
}
.test{
    margin-top: 0;
}
.test, .p7,h5, h6, .test2, .test3{
background-color: hsl(219, 30%, 18%);
z-index: 1;
border-radius: 5px;
font-family: 'Raleway', sans-serif;
}
.test, .test2,.test3{
    padding: 45px;
    
}

.test2{
    margin-top: 25px;
    margin-bottom: 25px;

}
.profile{
    width: 25%;
    margin-bottom: -55px;
    border-radius: 50%;
}
h5, h6{
    position: relative;
    left: 75px;
    margin-top: 0;
    display: flex;
    justify-content: start;
    margin-right: 32px;
    /* margin-left: 50px; */
    /* margin-bottom: 21px; */
}
h5{
    margin-bottom: 15px;
}
.fourth-wrapper{
margin-bottom: 100px;
}
.fifth-wrapper{
    text-align: center;
    position: relative;
    bottom:-157px;
    background-color: hsl(219, 30%, 18%) !important;
    border-radius: 15px;
    z-index: 1;
} 
h3,h2,h1{
    font-family: 'Raleway', sans-serif;
}
u{
    margin: 16px;
}
.h{
    margin: 0;
}
.p9, .h3{
    padding: 10px;
}
input{
    background-color: white;
    border-radius: 50px;
    width: 200px;
    padding: 20px;
    border: none;
    color: black;
}
:placeholder-shown{
    color: black;
}
.sixth-wrapper{
    background-color: hsl(216, 53%, 9%);
    z-index: -1;
    margin: 0;
    
}
.log{
    margin-top: 400px;
    margin-bottom: 50px;
    margin-left: 15px;
}
.icon{
    padding-top: 10px;
    padding-bottom: 31px;
    margin: 20px;
    margin-top: -10px;
}
a{
    color: white;
}
.f2{
    display: flex;
}
.f5{
    display: flex;
}
.ul1{
    margin-bottom: 50px;
    color: white;
}

.last3{
    display: flex;
    justify-content: center;
}
@media screen and (min-width:
700px)
{
    .logo{
        width: 10%;
    }
    .profile{
        width: 20%;
        z-index: 1;
    }
    .first-wrpper{
        width: 70%;
    }
 h5,h6{
     padding-left: 42px;
     margin-bottom: 16px;
    position: relative;
    left: 10px;
    z-index: -1;
 }
    .p1, .p2, .p3, .p4{
        /* display: flex; */
        /* justify-content: center; */
        max-width: 300px;
        text-align: center;
      
    }
   
    .second-h3,.p5, .p6{
        /* font-weight: 700; */
        font-size: 16px;
        text-align: start;
        
    }
    .second-h3{
        max-width: 300px;
        font-size: 30px;
    }
    .p5{
        max-width: 545px;
    }
    a{
        padding-left: 20px;
    }
    .p0{
        
        text-align: center;
        margin: 30px;
        /* max-width: 500px; */
    }
    .intro-img{
        width: 60%;
    }
    .container1, .container2{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .second-img{
        margin-top: -120px;
        width: 50%;
    }
    .contain{
        width: 50%;
        margin: 70px;
  
    }
    
  .container-3{
      display: flex;
      width: 100%;
      justify-content: space-between;
  }
  .fourth-wrapper{
      display: flex;
      justify-content: space-between;
  }
  .test, .test2, .test3{
      padding: 15px;
      
  }

  .test2{
      margin: 0 20px;
  }
  .test3{
      margin-right: 70px;
  }
  .p7{
      text-align: start;
  }
  .quote{
      width: 30px;
      height: 30px;
      position: relative;
      left: 215px;
      top: -26px;
  }
  .fifth-wrapper{
      width: 60%;
     position: relative;
     left: 19%;
     
  }
  .sixth-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }

  .log, .f5, .ul1, .ul2, .call, .last3{
    margin-top: 300px;
    font-size: 12px;
  }
  .log{
     width: 10%;
     height: 10%;
     position: relative;
     top: -34px;
     left: 37px;
  }
  .f5{
      
width: 30%;
position: relative;
left: -61px;
top: 21px;

  }
  .call{
      width: 35%;
      /* padding: 15px; */
  }
  .ul1, .ul2{
      width: 20%;
      padding: 0;
  }
   .ul-2{
       padding: 10px;
      
   }
   .ul1{
    margin-bottom: 40px;
    color: white;
   }
  .lor{
      max-width: 400px;
  }
  .icon{
      padding: 10px;
      margin: 0;
  }
  .last3{
      width: 20%;
  }
 
  ion-icon {
    padding: 10px;
  }
}
  
